---
---

@import "minima";

/* H1 is biggest headline */
.post-content {
  h1 {
    @include relative-font-size(2.5);

    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }
  
  line-height: 31px;
}

/* Override block quote */
blockquote {
  border-left: 4px solid #eeeeff;
  font-size: $base-font-size;
  background: #f9f9f9;
  letter-spacing: 0px;
  font-style: normal;
}

/* Footer spacing is spread more evenly */
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

pre.highlight {
  padding: 8px 8px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  // copy code to clipboard
  .copy {
    color: $brand-color;
    border: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    padding: 5px;

    &:active,
    &:focus,
    &:hover {
      background: $background-color;
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background:$background-color;
    opacity: 1;
  }
} 