---
---

$dummy: "dummy";
$background-color: #ffffff !default;
$highlight-background-color: #f6f8fa !default;
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size:   18px !default;
$brand-color: #1c4ed8 !default;
$text-color: rgb(96, 117, 126) !default;

@import "minima";

body {
  -webkit-font-smoothing: antialiased;
}

.site-header {
  border-top: 0px;
  border-bottom: 0px;
  padding: 20px;
  color: black;
}

.post-title {
  color: black;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.75);
  }
}

blockquote {
  border-left: 4px solid #d0d7de;
  font-size: $base-font-size;
  background: #f9f9f9;
  letter-spacing: 0px;
  font-style: normal;
  border-radius: 10px;
  padding: 10px;
}

pre, code {
  background: $highlight-background-color;
}

.highlighter-rouge .highlight {
  background: $highlight-background-color;
}

.highlight {
  border-radius: 10px;
}

pre.highlight {

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
    color: black;
  }

  // copy code to clipboard
  .copy {
    color: $brand-color;
    border: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    font-size: $base-font-size;

    &:active,
    &:focus,
    &:hover {
      background: $background-color;
      opacity: 1;
      padding: 5px 20px;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background:$background-color;
    opacity: 1;
    padding: 5px 20px;
  }
} 


// Footer spacing is spread more evenly
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}